@import '../../styles/variables';

.language-selector {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: $primary-green;
  }

  .anticon-global {
    font-size: 18px;
  }
}
