@import "../../../../styles/variables";

.hero{
    width: 100%;
    height: 100vh;
    background-image: url('../../../../assets/images/otolor-hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .hero-wrapper {
        height: 900px;
        width: 100%;
        padding-top: 150px;
        gap: 50px;
        display: flex;
        justify-content: space-around;

        &__left {
            width: 50%;
            

            .hero-headline {
                font-size: 50px;
                font-weight: 600;

                span {
                    color: $primary-green;
                }
            }

            .hero-button{
                margin-top: 20px;
            }
        }

        &__right {
            height: 500px;
        }
    }
}