.hero{
    width: 100%;
    height: 100vh;
    background-image: url('../../../../assets/images/otolor-hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}