/* SCSS Styling */
#root {
  width: 100%;
  min-height: 100vh;
  
  // Example of SCSS nesting
  .app-container {
    display: flex;
    flex-direction: column;
  }

  .big-div{
    width: 100%;
    height: 100%;
    background-color: red;
  }
}
