@import "tailwindcss";
@import "./styles/_variables.scss";


* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html, body {
  background-color: #F5F5F0;
}

body {
  min-height: 100vh;
}

.container{
    max-width: 1280px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

